<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<h1>My Lists</h1>
<a href="/task_lists/new"> + Add Task List</a>

<% @task_lists.each do |task_list| %>

  <section class="task-list">
    <%= link_to 'Completed', completed_path(task_list) %>
    <h1><%= link_to task_list.name, task_list_path(task_list) %></h1>
    <a href="/task_lists/<%= task_list.id %>/edit">Edit</a>
    <a href="/task_lists/<%= task_list.id %>/new">+ Add Task </a>

    <% if task_list.tasks.blank? %>
      <div>
       <em>Nothing here to see!</em>
      </div>
     <% else %>

    <% task_list.tasks.each do |tasks| %>
      <div><%= tasks.name %> </div>
        <%= tasks.due_date %>
      <%= link_to('Delete', "task_lists/#{tasks.id}", method: :delete) %>
      <%= link_to('Complete', "task_lists/#{tasks.id}", method: :patch) %>
    <% end %>
      </section>
      <div id="mydiv"><img src ="http://img2.wikia.nocookie.net/__cb20110520221324/glee/images/2/26/Fat_unicorn.jpg"></div>
      <script type="text/javascript" src="follow.js">
      </script>

<% end %>

<% end %>

