<%= form_for @task_list, html: { class: "signin-form" } do |f| %>
  <h1>Add a task list</h1>
  <div></div>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true %>
    <p class="red">
      <% if @task_list.errors.any? %>
        <% @task_list.errors.messages[:name].each do |error| %>
          <%= error %>
        <% end %>
      <% end %>
    </p>
  </div>
  <div>
    <%= f.submit "Create Task List" %>
  </div>
<% end %>


